* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-height: 6rem;
    --div-height: calc(100vh - var(--header-height));
    --sides-offset: 5rem;
    --header-bg-color: darkred;
}

ul {
    list-style-type: none;
}

hr {
    color: var(--header-bg-color);
}

/* body {
    height: 100vh;
    overflow: hidden;
} */

header {
    width: 100vw;
    height: var(--header-height);
    background-color: var(--header-bg-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: var(--sides-offset);
    padding-right: var(--sides-offset);
    align-items: center;
}

a {
    text-decoration: none;
}

.navigation {
    display: flex;
    gap: 2rem;
}

.navigation a, .navigation-title {
    font-size: 2rem;
    color: white;
    letter-spacing: 3px;
    /* word-spacing: 2px; */
}

.navigation a:hover {
    /* color: lightgray; */
    text-decoration: underline;
}

main {
    margin-left: calc(2 * var(--sides-offset));
    margin-right: calc(2 * var(--sides-offset));
}

main div {
    padding-top: var(--header-height);
    min-height: 100vh;
}

main div>h2 {
    font-size: 3rem;
    text-decoration: underline;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

div p {
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: 1.3px;
    word-spacing: 3px;
    text-align: justify;
    margin-bottom: 1.2rem;
    text-indent: 0.8rem;
}

div ul li {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
    word-spacing: 5px;
}

.site-link, .git-link {
    display: block;
}