/**
font-family: 'Kanit', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Work Sans', sans-serif;
**/

html {
    font-family: 'Courier', Courier, monospace;
}

body{
    margin: 0;
    background-image: url("assets/topography.png");
}

a, h2, h3 {
    color: #ff0099;
    text-transform: uppercase;
}

header {
    background-color: #333333;
    padding: 10px 10%;
    display: flex;
}

logo, nav {
    width: 50%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav-button a {
    font: 20px "Kanit";
}

main {
    padding: 0 10%;
}

#info-about-me {
    margin: 2% 0;
}

#name {
    margin: 0;
    padding: 20px 0;
    font: 54px "Nunito";
}

#info-about-me p {
    line-height: 5px;
    font: 18px "Work Sans";
}

#separator {
    text-align: center;
    font-size: larger;
    margin: 5% 0;
}

#wiki h2 {
    font: 44px "Nunito";
    text-align: center;
}

#wiki h3 {
    font-size: 36px;
    margin: 30px 0 10px 0;
}

#wiki .wiki-item p {
    font: 22px "work sans";
    margin: 10px 0 30px 0;
}